@model List<GraniteHouse.Models.Products>

<br/><br/>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">
                        <label style="font-size:22px;color:forestgreen">@product.Name</label>
                    </h4>
                </div>
                <img class="card-img-top" style="height:100%;" src="@product.Image" alt="Image Card" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <lable style="font-size:20px;color:orangered;"><b>$@product.Price</b>/sq</lable>
                </div>
                <a asp-action="Details" asp-controller="Home" class="btn btn-success " asp-route-id="@product.Id">Details</a>
            </div>
        </div>
    }
</div>

